@font-face {
    font-family: StereoGothic;
    src: url('../font/Stereo Gothic 600.ttf');
    font-weight: 600;
}
@font-face {
    font-family: StereoGothic;
    src: url('../font/Stereo Gothic 650.ttf');
    font-weight: 650;
}
@font-face {
    font-family: StereoGothic;
    src: url('../font/Stereo Gothic 700.ttf');
    font-weight: 700;
}
@font-face {
    font-family: StereoGothic;
    src: url('../font/Stereo Gothic 750.ttf');
    font-weight: 750;
}
@font-face {
    font-family: StereoGothic;
    src: url('../font/Stereo Gothic 800.ttf');
    font-weight: 800;
}