.idj-anysee-main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
    background-repeat: no-repeat;
    .idj-main-text{
        // align-items: flex-end; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        position: relative;
        z-index: 2;
        .idj-main-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            padding: 10px;
            @media (min-width: 768px) {
                grid-template-columns:  4fr 1fr;
            }
            .idj-heading{
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 3em;
                text-transform: uppercase;
                color: #fff;
                padding-top: 12%;
                span{
                    font-weight: 800;
                }
                @media (min-width: 768px) {
                    font-size: 4em;
                }
            }
            .idj-heading-text{
                font-family: $primary-font;
                font-weight: 600;
                font-size: 2em;
                color: #fff;
                text-transform: uppercase;
                @media (min-width: 576px){
                    font-size: 2.5em;
                }
                @media (min-width: 768px){
                    font-size: 4.5em;
                }
            }
            .idj-text{
                font-weight: 400;
                font-size: 1em;
                margin: 0;
                padding: 0;
                color: #fff;
                margin-bottom: 20px;
                @media (min-width: 768px){
                    display: block;
                    width: 50%;
                    margin-bottom: 10px;
                }
            }
            .idj-second-text{
                width: 50%;
                font-family: $primary-font;
                font-weight: 400;
                font-size: 1em;
                margin: 0;
                padding: 0;
                color: #fff;
                margin-bottom: 50px;
                display: none;
                @media (min-width: 768px){
                    display: block;
                }
            }
            .idj-anysee-btn-container{
                display: block;
                @media (min-width: 768px){
                    display: none;
                }
                .idj-anysee-btn{
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    font-size: 1em;
                    padding: 8px 30px;
                    font-weight: 400;
                    font-family: $primary-font;
                    background: linear-gradient(to bottom, rgba(252,42,252,1) 0%,rgba(109,44,132,1) 100%);
                    display: inline-block;
                    white-space: nowrap;
                    text-transform: uppercase;
                    @media(min-width: 768px){
                        font-size: 1.2em;
                        padding: 12px 53px;
                    }
                }
            }

            // .grid-section-right-video{
            //     margin-bottom: 3%;
                // background: linear-gradient(to bottom, rgba(13,13,13,0.49) 0%,rgba(93,93,93,0.49) 100%);
                
                border-radius: 7px;

                .r-video{
                    width: 100%;
                    border-radius: 7px;
                    border:1px solid #0E6064;
                    margin-bottom: 15px;
                    display: none;
                    @media (min-width: 768px){
                        display: block;
                    }
                }
                .grid-text{
                    padding: 0;
                    margin: 0;
                    color: #fff;  
                }
            // }
            .grid-section-right-text{
                background: linear-gradient(to bottom, rgba(13,13,13,0.49) 0%,rgba(93,93,93,0.49) 100%);
                border-radius: 7px;
                padding: 10px;
                border:1px solid #0E6064;
                .grid-text{
                    padding: 0;
                    margin: 0;
                    color: #fff;
                    .sea-green{
                        color:#26F4FE;
                    }
                }
                @media (min-width: 576px) {
                    width: 50%;
                } 
                @media (min-width: 768px) {
                    width: auto;
                }
            }
        }
        .grid-section{
            background: linear-gradient(to bottom, rgba(13,13,13,0.49) 0%,rgba(93,93,93,0.49) 100%);
            .grid-text{
                padding: 0;
                margin: 0;
                color: #fff;  
            }
        }
    }   
    .idj-icon-brand{
        display: none;
        .idj-icon-main{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
                margin: 0;
                padding: 0;
                margin-top: 22px;
                border-top: 0.1px solid #4a4a4a;
                position: relative;
                z-index: 2;
                background: linear-gradient(to bottom, rgba(13,13,13,0.49) 0%,rgba(93,93,93,0.49) 100%);
            li{
                list-style-type: none;
                position: relative;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-family: $primary-font;
                    font-size: 2.5em;
                    padding: 13px 7px;
                }
                &:hover{
                    &::before{
                        content: " ";
                        position: absolute;
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 15px solid #F12AF3;
                        top: -26%;
                        transform: translateY(-50%);
                        left: 50%;
                    }
                }  
            }
        }
        @media (min-width: 768px){
            display: block;
        }
    }
    .idj-background-image{
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top center;
    }
}